$reaction-size: 80px;

.reaction {
  position: absolute;
  width: $reaction-size;
  height: $reaction-size;
  z-index: 200;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  transition: opacity 0.8s ease-in-out, margin-top 0.8s ease-in-out;

  &.fading {
    opacity: 0 !important;
    margin-top: -200px;
  }
}

.reaction-lava {
  opacity: 0.8;
}

.reaction-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  pointer-events: none;
}
