@keyframes fill-progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.hold-button {
  position: relative;
  overflow: hidden;

  .progress {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: $c-yellow;
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &.held {
    .progress {
      animation-name: fill-progress;
      animation-play-state: running;
    }
  }
}
