@import "colors";

/********** Range Input Styles **********/

/* Range Reset */
input[type="range"] {
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  padding-top: 0.25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: $c-black;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb { /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */

  /* custom styles */
  background-color: $c-turquoise;
  height: 1.75rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid $c-black;
  outline: 3px solid $c-yellow-light;
  outline-offset: 0;
}

/******** Firefox styles ********/

/* slider track */
input[type="range"]::-moz-range-track {
  background-color: $c-black;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /* Removes extra border that FF applies */
  border-radius: 0; /* Removes default border-radius that FF applies */

  /* custom styles */
  background-color: $c-turquoise;
  height: 1.75rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid $c-black;
  outline: 3px solid $c-yellow-light;
  outline-offset: 0;
}
