@import "colors";

.ai-training-view-button {
  border-radius: 10px;
  padding: 0.7em 1.4em;
  border: 2px solid $c-black;
  min-width: 3em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 55%;

  &.round {
    border-radius: 50%;
    padding: 0;
  }

  &.active {
    background-color: $c-yellow;
    border-color: $c-black-burnt;
  }

  &:focus, &:focus-visible {
    outline: none;
    box-shadow: none;
  }
}


.ai-training-view-button-run {
  width: 50px;
  height: 50px;
  margin-right: 1em;
  background-position: calc(50% + 0.2em) center;

  &.active {
    background-position: center center;
    background-color: transparent;
  }
}

.ai-training-view-button-turbo {
  width: 50px;
  height: 50px;
  background-position: calc(50% + 0.1em) center;

  &.active {
    border-color: $c-black-burnt;
  }
}

.ai-training-view-button-view-policy {
  width: 50px;
  height: 50px;
  background-size: 78%;
  float: right;

  &.active {
    border-color: $c-black-burnt;
  }
}

.ai-training-view-button-step {
  display: none;
}

.ai-training-view-button-clear {
  width: 100%;
  height: 2.5em;
  border: 1px solid black;
  font-size: 1rem;
  margin: 1em 0;
}


.ai-training-view-slider {
  .slider-text .slider-limit {
    display: none;
  }
}
