@import "colors";
@import "mod_langswitcher";
@import "exhibit/layout";
@import "exhibit/type";
@import "exhibit/mod_panel";

html, body {
  padding: 0;
  margin: 0;
}

.rl2-exhibit {
  #lang-switcher-container .lang-switcher {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
