html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #4a4a4a; }

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.75em; }

.fatal-error {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(92, 6, 6, 0.85);
  background-image: url(790c86d2b123a19c0a4a.svg);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center 50px;
  padding-top: 160px; }
  .fatal-error .fatal-error-text {
    color: white;
    font-size: 20px;
    text-align: center;
    top: 100px;
    left: 50%;
    width: 600px;
    margin: auto;
    margin-bottom: 0.5em;
    padding-left: 15px;
    padding-right: 15px; }
  .fatal-error .fatal-error-details {
    color: white;
    font-size: 16px;
    text-align: center;
    width: 600px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px; }

html.with-fatal-error {
  width: 100%;
  height: 100%; }
  html.with-fatal-error body {
    width: 100%;
    height: 100%;
    overflow: hidden; }

@keyframes fill-progress {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

.hold-button {
  position: relative;
  overflow: hidden; }
  .hold-button .progress {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: #ffec02; }
  .hold-button .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .hold-button.held .progress {
    animation-name: fill-progress;
    animation-play-state: running; }

[data-component="app-container"] canvas {
  width: 100%;
  height: auto; }

.maze-view, .maze-editor {
  width: 100%;
  height: 100%;
  position: relative; }

.maze-editor-palette {
  position: absolute;
  top: 5px;
  left: 5px; }
  .maze-editor-palette .maze-editor-palette-bar {
    display: inline-block;
    vertical-align: top;
    padding: 4px;
    margin-right: 5px;
    background-color: white; }
    .maze-editor-palette .maze-editor-palette-bar .item .label {
      display: none; }
  .maze-editor-palette .editor-palette-button {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    box-sizing: content-box; }
    .maze-editor-palette .editor-palette-button:last-child {
      margin-bottom: 0; }
    .maze-editor-palette .editor-palette-button.active {
      border: 2px solid black;
      margin-top: -2px;
      margin-left: -2px;
      margin-right: -2px;
      margin-bottom: 2px; }
      .maze-editor-palette .editor-palette-button.active:last-child {
        margin-bottom: -2px; }
    .maze-editor-palette .editor-palette-button.editor-palette-button-tile {
      background-size: 100%; }
  .maze-editor-palette .separator {
    height: 6px;
    border-bottom: 6px solid #f2f2f2;
    margin-bottom: 4px;
    margin-left: -4px;
    margin-right: -4px; }
  .maze-editor-palette .editor-palette-button-tile-0 {
    background-size: 60% 60%; }

.btn-copy {
  background-image: url(0ec8ada5826b33769714.svg);
  background-repeat: no-repeat;
  background-position: 6px 8px;
  background-size: 1.2em 1.2em;
  padding-left: 2em; }

button.maze-browser-item {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  padding: 0; }
  button.maze-browser-item canvas {
    display: block;
    width: 100%;
    height: auto;
    image-rendering: pixelated;
    border: 3px solid #989898; }
  button.maze-browser-item.selected canvas {
    border: 3px solid #000; }

button.maze-browser-item-new {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #989898; }
  button.maze-browser-item-new:after {
    content: "+";
    display: block;
    font-size: 4em;
    line-height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white; }
  button.maze-browser-item-new.selected {
    border: 3px solid #000; }

.ai-training-view-button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  background-color: white;
  padding: 0.5em;
  min-width: 3em;
  margin-right: 0.5em;
  margin-bottom: 0.5em; }

.ai-training-view-slider .slider-text .slider-limit {
  display: none; }

.reaction {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 200;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
  transition: opacity 0.8s ease-in-out, margin-top 0.8s ease-in-out; }
  .reaction.fading {
    opacity: 0 !important;
    margin-top: -200px; }

.reaction-lava {
  opacity: 0.8; }

.lang-switcher {
  display: inline-block;
  font-size: 40px; }
  .lang-switcher .lang-switcher-trigger {
    width: 2em;
    height: 2em;
    display: block;
    font-size: 1em;
    padding: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(2dff18b73da77a245541.svg);
    pointer-events: all; }
    .lang-switcher .lang-switcher-trigger:focus {
      outline: none; }
  .lang-switcher .lang-switcher-menu-mask {
    position: absolute;
    bottom: 80px;
    right: -1em;
    height: calc(100vh - 80px);
    width: 100vw;
    overflow: hidden;
    pointer-events: none; }
  .lang-switcher .lang-switcher-menu {
    display: block;
    position: absolute;
    right: -100%;
    bottom: 0 !important;
    padding: 0.1em 0 0.2em 0;
    margin: 0;
    background-color: white;
    border: 3px solid black;
    transition: right 0.3s; }
    .lang-switcher .lang-switcher-menu.visible {
      right: 50px !important; }
    .lang-switcher .lang-switcher-menu li {
      display: block;
      padding: 0;
      margin: 0; }
      .lang-switcher .lang-switcher-menu li button {
        display: block;
        width: 100%;
        border: 0;
        background-color: transparent;
        font-size: 2.2rem;
        text-align: left;
        padding: 0.4em 1.5em;
        min-width: 4.5em;
        cursor: pointer;
        pointer-events: all; }

.rl2-exhibit {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden; }
  .rl2-exhibit #pixi-app-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100; }
  .rl2-exhibit .panel {
    z-index: 200;
    pointer-events: none; }
  .rl2-exhibit #training-ui {
    position: absolute;
    left: 295px;
    bottom: 76px;
    pointer-events: auto; }
  .rl2-exhibit #lang-switcher-container .lang-switcher {
    z-index: 200; }
  .rl2-exhibit .maze-editor-palette {
    pointer-events: auto;
    bottom: 270px;
    left: 10px;
    top: auto; }
  .rl2-exhibit #explore-exploit-ui {
    position: absolute;
    bottom: 20px; }
  .rl2-exhibit #rewards-bar {
    position: absolute;
    bottom: 166px; }
  .rl2-exhibit #rewards-ui {
    position: absolute;
    bottom: 20px; }

.panel-title {
  height: 220px;
  width: 667.5px; }

.panel-sm {
  height: 370px;
  width: 667.5px; }

.panel-lg {
  height: 1040px;
  width: 1112.5px; }

#panel-1, #panel-2, #panel-3, #panel-4 {
  position: absolute; }

#panel-1, #panel-2, #panel-3 {
  left: 20px; }

#panel-1 {
  top: 20px; }

#panel-2 {
  top: 280px; }

#panel-3 {
  top: 690px; }

#panel-4 {
  top: 20px;
  left: 787.5px; }

.rl2-exhibit {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 33px; }
  .rl2-exhibit strong {
    font-size: 32px;
    margin: 0 0.1em;
    background-color: #fff576;
    padding: 0 0.2em; }

#panel-1 {
  font-size: 24px; }
  #panel-1 strong {
    margin-left: -0.25em;
    display: inline-block;
    font-size: 48px;
    padding: 0.1em 0.2em; }

#panel-4 .panel-text {
  margin-top: 0.5em; }

.ai-training-view-slider-exploration-rate {
  display: inline-block;
  position: relative;
  width: 13em;
  height: 2.6em;
  margin: 0 1.5em; }
  .ai-training-view-slider-exploration-rate .slider-text label {
    display: none; }
  .ai-training-view-slider-exploration-rate .slider-text .slider-limit {
    display: block;
    position: absolute; }
  .ai-training-view-slider-exploration-rate .slider-text .slider-limit-min {
    left: 0;
    bottom: 0; }
  .ai-training-view-slider-exploration-rate .slider-text .slider-limit-max {
    right: 0;
    bottom: 0; }
  .ai-training-view-slider-exploration-rate .slider-input input {
    display: block;
    width: calc(100% - 2.5em);
    margin-left: 1.25em; }

.ai-training-view-slider-learning-rate {
  display: none; }

.ai-training-view-slider-discount-factor {
  display: none; }

.ai-training-view-button {
  border-radius: 10px;
  padding: 0.7em 1.4em;
  border: 2px solid #000000; }
  .ai-training-view-button.round {
    border-radius: 50%;
    padding: 0; }
  .ai-training-view-button.active {
    background-color: #ffec02;
    border-color: #483b10; }
  .ai-training-view-button:focus, .ai-training-view-button:focus-visible {
    outline: none;
    box-shadow: none; }

.ai-training-view-button-run {
  width: 80px;
  height: 80px;
  margin-right: 1em;
  background-position: calc(50% + 0.2em) center; }
  .ai-training-view-button-run.active {
    background-position: center center;
    background-color: transparent; }

.ai-training-view-button-turbo {
  width: 60px;
  height: 60px;
  background-position: calc(50% + 0.1em) center; }
  .ai-training-view-button-turbo.active {
    border-color: #483b10; }

.ai-training-view-button-step {
  display: none; }

.ai-training-view-button-clear {
  width: 14em;
  height: 50px;
  border: 1px solid black;
  font-size: 1rem; }

.maze-editor-palette .maze-editor-palette-bar .editor-palette-button {
  width: 60px;
  height: 60px;
  background-size: 100%;
  border: 2px solid black;
  margin-bottom: 8px; }
  .maze-editor-palette .maze-editor-palette-bar .editor-palette-button.active {
    border: 2px solid black;
    outline: 8px solid #ffec02;
    margin: 0;
    width: 70px;
    height: 70px;
    margin-top: -5px;
    margin-bottom: 3px;
    margin-left: -5px;
    z-index: 100;
    position: relative; }

.maze-editor-palette .maze-editor-palette-bar .item {
  position: relative; }
  .maze-editor-palette .maze-editor-palette-bar .item .label {
    display: block;
    position: absolute;
    width: 9.5em;
    left: 80px;
    top: 19px;
    line-height: 1.2; }

.maze-editor-palette .editor-palette-button-action-reset-map {
  font-size: 1rem;
  border: 1px solid black;
  width: 14em;
  background-color: white;
  background-size: contain;
  background-position: center center;
  padding: 0.1em 0.1em;
  border-radius: 10px;
  text-align: center;
  margin-top: 1.7em; }

#explore-exploit-ui {
  pointer-events: all; }
  #explore-exploit-ui .ai-training-view-button {
    display: none; }
  #explore-exploit-ui .ai-training-view-slider {
    display: none; }
  #explore-exploit-ui .ai-training-view-slider-exploration-rate {
    display: block; }

#rewards-ui {
  pointer-events: all; }
  #rewards-ui .ai-training-view-button {
    display: none; }
  #rewards-ui .ai-training-view-slider {
    display: none; }
  #rewards-ui .ai-training-view-button-step {
    display: block;
    height: 50px;
    width: 50px; }

#rewards-bar .bar-container .label {
  display: inline-block;
  margin-right: 0.8em;
  font-weight: bold;
  font-size: 0.9em; }

#rewards-bar .bar-container .progress {
  display: inline-block;
  width: 300px; }
  #rewards-bar .bar-container .progress .progress-bar {
    height: 100%;
    transition: width .6s ease, background-color 1s;
    background-color: #26df28; }

#rewards-bar .bar-container.decrease .progress-bar {
  background-color: #f86137; }

html, body {
  padding: 0;
  margin: 0; }

.rl2-exhibit #lang-switcher-container .lang-switcher {
  position: absolute;
  right: 10px;
  bottom: 10px; }


/*# sourceMappingURL=exhibit.312b2e95c1e1c522953c.css.map*/