$viewport-width: 1920px;
$viewport-height: 1080px;
$viewport-padding: 20px;

$panel-gutter: 40px;
$panel-gutter-lg: 100px;

$viewport-inner-height: $viewport-height - 2 * $viewport-padding;
$viewport-inner-width: $viewport-width - 2 * $viewport-padding;

.rl2-exhibit {
  width: $viewport-width;
  height: $viewport-height;
  position: relative;
  overflow: hidden;

  #pixi-app-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .panel {
    z-index: 200;
    pointer-events: none;
  }

  #training-ui {
    position: absolute;
    left: 295px;
    bottom: 76px;
    pointer-events: auto;
  }

  #lang-switcher-container {
    .lang-switcher {
      z-index: 200;
    }
  }

  .maze-editor-palette {
    pointer-events: auto;
    bottom: 270px;
    left: 10px;
    top: auto;
  }

  #explore-exploit-ui {
    position: absolute;
    bottom: 20px;
  }

  #rewards-bar {
    position: absolute;
    bottom: 166px;
  }

  #rewards-ui {
    position: absolute;
    bottom: 20px;
  }
}

$panel-title-height: 220px;
$panel-sm-height: ($viewport-inner-height - 2 * $panel-gutter - $panel-title-height) / 2;
$panel-sm-width: ($viewport-inner-width - $panel-gutter-lg) * 0.375;
$panel-lg-height: $viewport-inner-height;
$panel-lg-width: ($viewport-inner-width - $panel-gutter-lg) * 0.625;

.panel-title {
  height: $panel-title-height;
  width: $panel-sm-width;
}

.panel-sm {
  height: $panel-sm-height;
  width: $panel-sm-width;
}

.panel-lg {
  height: $panel-lg-height;
  width: $panel-lg-width;
}

#panel-1, #panel-2, #panel-3, #panel-4 {
  position: absolute;
}

#panel-1, #panel-2, #panel-3 {
  left: $viewport-padding;
}

#panel-1 {
  top: $viewport-padding;
}

#panel-2 {
  top: $viewport-padding + $panel-title-height + $panel-gutter;
}

#panel-3 {
  top: $viewport-padding + ($panel-title-height + $panel-gutter) + ($panel-sm-height + $panel-gutter);
}

#panel-4 {
  top: $viewport-padding;
  left: $viewport-padding + $panel-sm-width + $panel-gutter-lg;
}
