.rl2-exhibit {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 33px;

  strong {
    font-size: 32px;
    margin: 0 0.1em;
    background-color: $c-yellow-light;
    padding: 0 0.2em;
  }
}
